<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3" android:versionName="1.0.3" package="com.martinstudio.hiddenrecorder"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/icon_app" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation">
        <activity android:label="@string/app_name" android:name="com.martinstudio.secretvideorecorder.CameraRecorder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" />
        <activity android:label="User Setting" android:name="com.martinstudio.secretvideorecorder.UserSettingActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.gapps.secretvideorecorder.CameraRecorder" />
        </activity>
        <receiver android:label="Spy Video Recorder Widget" android:name="com.martinstudio.widget.WidgetStartStopRecorder">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget1_info" />
        </receiver>
        <service android:label="recorder" android:name="com.martinstudio.secretvideorecorder.RecorderService" android:process=":my_process" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
</manifest>